@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-landing-page-primary: #0df293;
  --color-landing-page-background-light: #f5f8f7;
  --color-landing-page-background-dark: #10221b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.geometric-bg {
  background-image: radial-gradient(#0df293 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  opacity: 0.1;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.soft-green-gradient {
  background: linear-gradient(
    135deg,
    rgba(19, 236, 91, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

* {
  /* border: 0.5px solid red !important; */
}
